//
// Grid
//
// What you will find here:
// 01. Basic grid elements


// ---------------- 01. Basic grid elements

.container {
	width: calc( 100% - #{ $page-padding } - #{ $page-padding } );
	margin: 0 auto;
	max-width: $max-page-width;
}

// This will extend beyond the confines of .container or similar to be full viewport width
// See https://css-tricks.com/full-width-containers-limited-width-parents/
.width-full {
	width: 100vw;
	position: relative;
	left: 50%;
	margin-left: -50vw;
	// for rtl, just in case
	right: 50%;
	margin-right: -50vw;
}

.row {
	@include container;
}

.col-1 {
	@include span(1);
}
.col-2 {
	@include span(2);
}
.col-3 {
	@include span(3);
}
.col-4 {
	@include span(4);
}
.col-5 {
	@include span(5);
}
.col-6 {
	@include span(6);
}
.col-7 {
	@include span(7);
}
.col-8 {
	@include span(8);
}
.col-9 {
	@include span(9);
}
.col-10 {
	@include span(10);
}
.col-11 {
	@include span(11);
}
.col-12 {
	@include span(12);
}
