//
// Variables
//
// 01. Colors
// 02. Fonts

// ---------------- 01. Colors

// Palette-Green
$primary-green: #145635;
$secondary-green: #88a840;
$alternate-green: #1e3920;

// Palette-Blue
$primary-blue: rgb(202, 232, 225);
$secondary-blue: #3ea3a0;
$gold: #ba9c1e;

// Palette-Orange
$primary-orange: #ef5e48;
$secondary-orange: #F9BA49;
$alternate-orange: #963d3a;

//Neutral
$tan: #f7dca1;
$light-tan: #f9ead9;

// ---------------- 02. Fonts

$primary-font: 'GT Walsheim Pro', sans-serif;
$primary-font-bold: 'GT Walsheim Pro Bold', sans-serif;

$secondary-font: 'Karla', sans-serif;
