//
// Variables
//
// 01. Colors
// 02. Fonts

// ---------------- 01. Colors

// Palette-Green
$primary-green: rgb( 20,86,53 );
$secondary-green: rgb( 134,166,64 );
$alternate-green: rgb( 30,57,32 );

// Palette-Blue
$primary-blue: rgb( 200,230,223 );
$secondary-blue: rgb( 62,161,158 );
$gold: #ba9c1e;

// Palette-Orange
$primary-orange: rgb( 237,94,72 );
$secondary-orange: rgb( 247,184,72 );
$alternate-orange: rgb( 148,61,58 );

//Neutral
$tan: rgb( 245,218,159 );
$light-tan: rgb( 247,232,215 );

// ---------------- 02. Fonts

$primary-font: 'GT Walsheim Pro', sans-serif;
$primary-font-bold: 'GT Walsheim Pro Bold', sans-serif;

$secondary-font: 'Karla', sans-serif;
