footer.site-footer{
	background: transparent;
	padding: 0 0 20px;

	@include large-and-up {
		padding: 0 0 60px;
	}

	p{
		font-family: $secondary-font;
		color: #fff;
	}

	h4{
		font-family: $secondary-font;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 30px;
		color: #fff;
	}
	
	.container{

		@include large-and-up {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.footer-share{
			width: 100%;
			margin-bottom: 50px;

			@include large-and-up {
				width: 200px;
				margin: 0;
				padding: 0;
				border-bottom: none;
			}

			ul.footer-share-icons{
				display: flex;
				justify-content: space-between;
				max-width: 200px;
				margin: auto;

				svg{
					height: 35px;
					width: 35px;
				}
			}
		}

		.contact-form{
			width: 100%;
			margin-bottom: 35px;

			@include small-and-up {
				margin-bottom: 50px;
			}

			@include large-and-up {
				text-align: left;
				width: calc(100% - 500px);
				margin: 0;
			}

			@include x-large-and-up {
				width: calc(100% - 550px);
				padding-left: 20px;
			}

			.gform_wrapper{
				margin: 0;
			}

			form{
				font-family: $secondary-font;

				label{
					display: none;
				}

				.ginput_container{
					margin: 0;
				}

				li.gfield{
					width: 100%;
					margin: 0 25px 25px 0;
					position: relative;

					@include x-large-and-up {
						width: 45%;
						display: inline-block;
						padding: 0;
					}

					input{
						border: 2px solid #f7f7f7;
						padding: 10px;

						&:focus{
							outline: none;
						}
					}

					&.full-width{
						width: 100%;
					}

					textarea{
						width: 100%;
						padding: 10px;
						max-height: 200px;
						margin: 0;
						border: 2px solid #f7f7f7;

						@include x-large-and-up {
							width: 95%;
						}

						&:focus{
							outline: none;
						}
					}

					&.gfield_error{
						padding-top: 25px;
					    background: transparent;
					    border: none;

						div.ginput_container{
							margin: 0;
						}

						div.ginput_container_textarea{
							margin-bottom: 25px;
						}

						div.validation_message{
							position: absolute;
						    color: #fff;
						    top: 3px;
						    padding: 0;
						}
					}
				}

				.gform_footer{
					padding: 0;
					margin: 0;

					@include large-and-up {
						text-align: right;
					}

					input[type="submit"]{
						@include x-large-and-up {
							margin-right: 25px;
						}
					}
				}

				div.validation_error{
					display: none;
				}
			}
		}

		.copyright-block{
			width: 100%;

			@include large-and-up {
				margin: 0;
				width: 185px;
			}

			p{
				font-weight: 700;
				font-size: 20px;
				margin-top: 10px;
			}
		}
	}

	.gform_confirmation_wrapper {
	    min-height: 200px;
	    position: relative;

	    .gform_confirmation_message {
		    text-align: center;
		    color: #fff;
		    position: absolute;
		    left: 50%;
		    top: 40%;
		    transform: translate(-50%,-50%);
		}
	}

	/* Overwriting important Gravity Forms style */
	.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half){
		max-width: 100% !important;

		input, textarea{
			border: 2px solid #790000;
		}
	}

	/* Hide Gravity Forms iFrame */
	iframe{
		display: none;
	}
	
}