nav.top-navigation {
	position: absolute;
	top: 0 !important;
	background: transparent;
	height: auto;

	#navbar-dropdown {
		max-width: 1140px;
		width: 35%;
		min-width: 235px;
		background: #333;
		padding-bottom: 50px;

    	@include large-and-up {
			display: block;
    		flex-grow: unset;
    		width: 100%;
	    	margin: auto;
	    	text-align: right;
	    	padding: 30px 20px 20px;
	    	background: transparent;
		}

		&::before {
		    content: none;
		}

		.nav-item {
			display: inline-block;
			padding-left: 30px;

    		@include large-and-up {
				padding-left: 25px;
			}

    		.nav-link {
    			border: none;
    			font-family: $secondary-font;
    			font-weight: 700;
    			padding: 0;
    			color: #fff;

    			&:hover,
    			&:focus{
    				color: #fff;
	    			text-shadow: 0 0 2px #fff;
	    		}
    		}

    		ul.nav-drop {
    			transition: 0.3s all ease-in-out;
    			padding: 0 25px;
    			color: #fff;

    			@include large-and-up {
    				pointer-events: none;
    				opacity: 0;
    				padding: 0 0 0 15px;
				    position: absolute;
				    list-style-type: none;
				    text-align: center;
				}

				li {
    				line-height: 2em;
				    margin-bottom: 15px;
				    font-size: 16px;

				    @include large-and-up {
				    	border: 3px solid #fff;
				    	padding: 5px 25px;
				    	margin-bottom: 10px;
				    	background-color: rgba(255,255,255,0.3);
					}

				    a{
				    	color: #fff;
				    	font-weight: 700;
				    }

				    &:hover,
				    &:focus,
				    &:active{
				    	text-shadow: 0 0 2px #fff;

				    	@include large-and-up {
					    	background: #fff;
					    	text-shadow: none;
						}

				    	a{
				    		color: #fff;

				    		@include large-and-up {
						    	color: #333;
							}
				    	}
				    }
				}
			}

			&:hover{
    			ul.nav-drop{
    				opacity: 1;
    				pointer-events: all;
    			}
    		}
		}

		.close-navbar-dropdown {
			display: block;
			position: relative;
    		margin: 10px 10px 0 auto;
    		transition: 0.2s all ease-in-out;

    		&:hover{
    			border: none;
    			transform: scale(1.2);
    		}
		}

		.close-li {
			height: auto;

			@include large-and-up {
				display: none;
			}
		}
	}

	.navbar-dropdown-toggle {
		background: none;
		box-shadow: none;
		margin: 15px;
		border: none;

		&:hover,
		&:active,
		&:focus{
			outline: none;
		}
		
		span {
			width: 35px;
		    height: 5px;
		    background-color: #fff;
		    margin: 8px 0;
		    display: block;
		    transition: 0.2s all ease-in-out;
		}
	}
}

.icons {
	display: none;

	@include large-and-up {
		display: block;
	}

	a {
		display: block;
	}

	.header-icon{
		width: 60px;
		height: auto;
	    position: absolute;
	    display: block;
	    float: left;
	    opacity: 0;

	    &.whale{
	    	position: relative;
	    }
	}

	&.mobile{
		display: block;
		position: absolute;
		width: 100%;

		@include large-and-up {
			display: none;
		}

		.header-icon{
			width: 50px;
		    float: right;
		    right: 0;
		    margin: 15px 20px 0;
		}
	}
}

/*
 * Header Elements Color Schemes
 * Adjusting theme colors based on body class.
 */

//Template Whale Colors
.template-whale,
// (template whale is currently the default color scheme)
.page-template-default,
.template-blank{
	.navbar-dropdown-toggle:hover span,
	.navbar-dropdown-toggle:active span,
	.navbar-dropdown-toggle:focus span{
		background-color: $secondary-blue;
	}

	.icons .whale{
		opacity: 1;
	}
}

//Template Leaf Colors
.template-leaf{
	.navbar-dropdown-toggle:hover span,
	.navbar-dropdown-toggle:active span,
	.navbar-dropdown-toggle:focus span{
		background-color: $primary-green;
	}

	.icons .leaf{
		opacity: 1;
	}
}

//Template Gecko Colors
.template-gecko{
	.navbar-dropdown-toggle:hover span,
	.navbar-dropdown-toggle:active span,
	.navbar-dropdown-toggle:focus span{
		background-color: $secondary-orange;
	}

	.icons .gecko{
		opacity: 1;
	}
}

//Template Cloud Colors
.template-cloud{
	.navbar-dropdown-toggle:hover span,
	.navbar-dropdown-toggle:active span,
	.navbar-dropdown-toggle:focus span{
		background-color: $secondary-blue;
	}

	.icons .cloud{
		opacity: 1;
	}
}

//Template Fish Colors
.template-fish{
	.navbar-dropdown-toggle:hover span,
	.navbar-dropdown-toggle:active span,
	.navbar-dropdown-toggle:focus span{
		background-color: $primary-orange;
	}

	.icons .fish{
		opacity: 1;
	}
}

//Template Girl Colors
.template-girl{
	.navbar-dropdown-toggle:hover span,
	.navbar-dropdown-toggle:active span,
	.navbar-dropdown-toggle:focus span{
		background-color: $primary-orange;
	}

	.icons .girl{
		opacity: 1;
	}
}



