/* P4 Block Modifications */

.content-two-column-block{
	padding: 30px 0;

	@include small-and-up {
		padding: 50px 0 30px 0;
	}

	h2{
		font-family: $secondary-font;
		text-transform: uppercase;
		letter-spacing: 0px;
		width: 100%;
		font-size: 22px;
	}
	p{
		font-size: 16px;
	}
}

.page-section {
    margin-bottom: 0;

    .page-section-header{
		margin-top: 0;
		font-size: 34px;
		font-family: $primary-font-bold;

		@include small-and-up {
			font-size: 48px;
		}
	}
}

.article-listing{

	.article-list-section{
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
        	-ms-flex-wrap: wrap;
	}

	article.article-list-item {
	    margin: 30px 0;
	    padding: 5px 20px 20px;
	    border: 2px solid;
	    background-color: rgba(255,255,255,.8);
    	box-shadow: 0 3px 10px rgba(0,0,0,.1);

	    @include medium-and-up {
	    	padding: 25px;
	    }

	    .article-list-item-headline {
		    font-weight: 700;
		    text-transform: none;
		    letter-spacing: 0px;
		}

	    .article-list-item-meta {
		    width: 100%;
		}

		.article-list-item-content {
		    width: 100%;
		    font-size: 16px;
		}

		.tag-item {
		    margin-bottom: 0;

		    &.page-type{
		    	display: none;
		    }
		}

		.tag-wrap::before{
	    	content: '';
	    	margin: 0;
	    }

		.topicwise-article-image {
		    border: 2px solid;
		}
	}

	//Read more button area
	.col-lg-5 {
	    max-width: 100% !important;
	    text-align: center;
	    flex: none;
	}
}

/* P4 Block Modifications (Blog Page Only) */

.blog-tiles{
	.article-listing{
		margin-top: 30px;

		.page-section-header{
			opacity: 0;
			position: absolute;
			pointer-events: none;
		}

		.article-list-section {
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: space-between;
		    margin-bottom: 25px;

		    &::after{
		    	display: none;
		    }

		    .article-list-item {
			    margin: 25px 0;
			    flex-direction: column;

			    @include medium-and-up {
			    	width: 48%;
			    }

			    .article-list-item-body{
			    	padding-left: 0;
			    	padding-right: 0;

			    	@include medium-and-up {
			    		padding: 0;
			    	}
			    }

			    .article-list-item-image {
				    margin-bottom: 15px;
				    background: $secondary-orange;

				    img{
				    	-webkit-transition: all 0.3s;
						-moz-transition: all 0.3s;
						-o-transition: all 0.3s;
				    	transition: all 0.3s;
				    }
				}

				a:hover,
				a:focus,
				a:active {
					img {
						opacity: 0.5;
					}
				}
			}
		}
	}
}

section.four-column {
	margin-bottom: 0;
	text-align: center;

	.four-column-wrap{
		margin-left: auto;
		margin-right: auto;
	}

	.four-column-symbol-container{
		margin-left: auto;
		margin-right: auto;
		pointer-events: none;
	}

	.four-column-information{
		h5{
			text-align: center;
			pointer-events: none;
			text-transform: uppercase;
		}
	}
}

