{% extends "base.twig" %}

{% block content %}
	<div class="logo-container">
		<div class="content animated fadeIn">
			<div class="logos">
				{% include 'blocks/anim_logos.twig' %}
				{% include 'blocks/anim_1.twig' %}
				{% include 'blocks/anim_2.twig' %}
				{% include 'blocks/anim_3.twig' %}
				{% include 'blocks/anim_4.twig' %}
			</div>
		</div>
	</div>
	<div class="page-content">
		{{ post.content|raw }}
	</div>
{% endblock %}
