{% extends "base.twig" %}

{% block content %}
	<div class="logo-container">
		<div class="content animated fadeIn">
			<div class="logos">
				{% include 'blocks/home_logo.twig' %}
				{% include 'blocks/about_logo.twig' %}
				{% include 'blocks/case_logo.twig' %}
				{% include 'blocks/tools_logo.twig' %}
				{% include 'blocks/blog_logo.twig' %}
			</div>
			{% if fn('is_front_page') %}
				<h2>{{ __( 'Write your Story. Change the World.', 'planet4-child-theme-storytelling' ) }}</h2>
			{% else %}
				<h2>{{ post.title }}</h2>
			{% endif %}
		</div>
	</div>
	<div class="page-template">
		{{ post.content|raw }}
	</div>
{% endblock %}
