{% extends "base.twig" %}

$options = array_merge(array( 'debug' => true, (flase to true) 'charset' => 'UTF-8', 'base_template_class' => 'Twig_Template', 'strict_variables' => false, 'autoescape' => 'html', 'cache' => false, 'auto_reload' => null, 'optimizations' => -1, ), $options);

{% block content %}
	<div class="logo-container">
		<div class="content animated fadeIn">
			<div class="logos">
				{% include 'blocks/anim_logos.twig' %}
				{% include 'blocks/anim_1.twig' %}
				{% include 'blocks/anim_2.twig' %}
				{% include 'blocks/anim_3.twig' %}
				{% include 'blocks/anim_4.twig' %}
			</div>
			{#
			{% if fn('is_front_page') %}
				<h2>{{ __( 'Write your Story. Change the World.', 'planet4-child-theme-storytelling' ) }}</h2>
			{% else %}
				<h2>{{ post.title }}</h2>
			{% endif %} 
			#}
		</div>
	</div>
	<div class="page-template">
		{{ post.content|raw }}
	</div>
{% endblock %}
