.team-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    & > div {
	    width: 100%;
	    margin-bottom: 25px;
	    text-align: center;

	    @include small-and-up {
    		display: flex;
    		text-align: left;
    		padding-right: 25px;
    	}

	    @include medium-and-up {
    		width: 50%;
    	}

	    @include large-and-up {
    		padding-right: 50px;
	    	margin-bottom: 50px;
    	}

	    & > img {
	    	width: 125px;
	    	height: 125px;
	    	border-radius: 50%;

	    	@include small-and-up {
	    		width: 100px;
	    		height: 100px;
	    		margin-right: 15px;
	    	}

	    	@include large-and-up {
	    		margin-right: 20px;
	    		width: 125px;
	    		height: 125px;
	    	}
	    }

	    & > div {
	    	//width: 70%;
	    }
	}

	h3 {
		margin: 0 0 0.5em;
		color: $primary-green;
		font-family: $secondary-font;
		font-weight: 700;
		text-transform: uppercase;
	}
}