article.study{
	background-color: $alternate-orange;
	position: relative;
	margin: 90px 0;
	color: #fff;
	padding-top: 20px;

	@include medium-and-up {
		margin: 140px 0 160px;
	}

	h2{
		font-weight: 700;
	}

	&::before {
	    position: absolute;
	    content: '';
	    display: block;
	    left: 0;
	    top: -74px;
	    width: 100%;
	    border-style: solid;
	    border-width: 0 100vw 75px 0;
	    border-color: transparent transparent $alternate-orange transparent;

	    @include medium-and-up {
			top: -124px;
			border-width: 0 100vw 125px 0;
		}
	}

	&::after {
	    position: absolute;
	    content: '';
	    display: block;
	    left: 0;
	    bottom: -74px;
	    width: 100%;
	    border-style: solid;
	    border-width: 0 100vw 75px 0;
	    border-color: transparent $alternate-orange transparent transparent;

	    @include medium-and-up {
			bottom: -124px;
			border-width: 0 100vw 125px 0;
		}
	}

	.container{

		@include medium-and-up {
			display: flex;
			justify-content: space-between;
		}

		section{
			width: 100%;

			@include medium-and-up {
				width: 60%;
			}
		}

		aside{
			width: 100%;

			@include medium-and-up {
				width: 33%;
				margin-bottom: -100px;
			}

			@include x-large-and-up {
				width: 30%;
			}

			img{
				margin-bottom: 20px;
				border: 1px solid #fff;
			}
		}

		.video iframe{
			max-width: 100%;
			margin-bottom: 20px;
			border: 2px solid $secondary-orange;

			@include medium-and-up {
    			margin-bottom: -100px;
			}
		}
	}
}