/**
 * Styles specific to the page template
**/

body{
	background: #fff;
	font-family: $secondary-font;

	&.home .logo-container{
		text-align: center;
		animation: bgcolorchange 20s infinite;
		-webkit-animation: bgcolorchange 20s infinite;

		.header-logo{
			&.home{
				animation: homelogocycle 20s infinite;
				-webkit-animation: homelogocycle 20s infinite;
			}
			&.about{
				animation: aboutlogocycle 20s infinite;
				-webkit-animation: aboutlogocycle 20s infinite;
			}
			&.case{
				animation: caselogocycle 20s infinite;
				-webkit-animation: caselogocycle 20s infinite;
			}
			&.tools{
				animation: toolslogocycle 20s infinite;
				-webkit-animation: toolslogocycle 20s infinite;
			}
			// &.blog{
			// 	animation: bloglogocycle 20s infinite;
			// 	-webkit-animation: bloglogocycle 20s infinite;
			// }
		}
	}
}

/* Potentially temporary */
.page-header {
    display: none;
}
/* * */

div.logo-container{
	height: 400px;
	text-align: center;
	padding-top: 110px;
	position: relative;
	text-align: left;

	@include medium-and-up {
		height: 475px;
	}

	.content{
		position: absolute;
	    left: 50%;
	    top: 50%;
	    padding: 0 20px;
	    width: 100%;
	    transform: translate(-50%, -50%);

	    @include small-and-up {
			padding: 0 40px;
		}

	    @include medium-and-up {
			width: 700px;
			padding: 0;
			transform: translate(-50%, -55%);
		}

		.logos{
			position:relative;
		}

		.header-logo{
			max-width: 100%;
			margin-bottom: 25px;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;

			&.home{
				position: relative;
			}
		}
		h2{
			font-family: $secondary-font;
			text-transform: uppercase;
			font-weight: 700;
			color: #fff;
		}
	}
}

div.page-template {
	width: 100%;
    margin: 0 0 75px;
    padding: 25px 0;
    position: relative;
    background: #fff;

    @include medium-and-up {
		margin: 0 0 125px;
	}

	.container{
		padding-left: 20px;
		padding-right: 20px;
	}
}
div.page-template::before,
div.diagonal-top::before,
div.diagonal-topbottom::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: -74px;
    width: 100%;
    border-style: solid;
    border-width: 0 100vw 75px 0;
    border-color: transparent transparent rgba(255,255,255,1) transparent;

    @include medium-and-up {
		top: -124px;
		border-width: 0 100vw 125px 0;
	}
}
div.page-template::after,
div.diagonal-bottom::after,
div.diagonal-topbottom::after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: -74px;
    width: 100%;
    border-style: solid;
    border-width: 0 100vw 75px 0;
    border-color: transparent rgba(255,255,255,1) transparent transparent;

    @include medium-and-up {
		bottom: -124px;
		border-width: 0 100vw 125px 0;
	}
}

div.diagonal-top{
	padding-top: 20px;
}

div.diagonal-bottom{
	padding-bottom: 20px;
}
div.diagonal-topbottom{
	padding: 20px 0;
}

div.diagonal-none{
	padding: 60px 0 30px;

	@include medium-and-up {
		padding: 90px 0 50px;
	}

	&.last{
		padding-bottom: 0;
	}
}

.tagline{
	font-weight: 700;
	font-size: 20px;
	max-width: 675px;
	margin: auto;

	span.source{
		font-size: 12px;
		font-style: italic;
		display: block;
		font-weight: 300;
		margin-top: 20px;
	}

	.button{
		margin: 30px auto 0;
	}

	&.nowidth{
		max-width: none;
	}

	&.small{
		font-size: 14px;
	}

	.button-group{
		text-align: center;
		display: block;

		@include medium-and-up {
			display: flex;
			justify-content: space-between;
		}

		.button{
			max-width: 250px;
			display: block;

			@include medium-and-up {
				min-width: 200px;
				margin-left: 0;
				margin-right: 0;
				display: inline-block;
			}
		}
	}
}

.image-block{
    height: 400px;
    width: 100%;
    z-index: unset !important;

    &.whale::before{
    	background-image: url('../../images/placeholder_image1.jpg');
    }

    &.penguin::before{
    	background-image: url('../../images/placeholder_image2.jpg');
    }

    &::before{
    	content: '';
    	width: 100%;
    	height: 100%;
    	top: 0;
    	position: absolute;
    	background-attachment: fixed;
	    background-position: 0 60%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    will-change: transform;
    }

    &::after{
    	content: '';
	    width: 100%;
	    height: 100%;
	    background: #ccc;
	    position: absolute;
	    opacity: 0.5;
    }

    .plain-quote{
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -30%);
	    color: #fff;
	    font-weight: 700;
	    font-size: 22px;
	    width: 100%;
	    max-width: 800px;
	    padding: 0 20px;
	    text-align: center;
	    z-index: 3;
    }
}


/* P4 Block Modifications */

.content-two-column-block{
	padding: 30px 0;

	@include small-and-up {
		padding: 50px 0 30px 0;
	}

	h2{
		font-family: $secondary-font;
		text-transform: uppercase;
		width: 100%;
		font-size: 22px;
	}
}

.page-section {
    margin-bottom: 0;

    .page-section-header{
		font-family: $primary-font;
		margin-top: 0;
	}
}

.article-listing{

	article.article-list-item {
	    margin: 30px 0;
	    padding: 5px 20px 20px;
	    border: 2px solid;
	    background-color: rgba(255,255,255,.8);
    	box-shadow: 0 3px 10px rgba(0,0,0,.1);

	    @include medium-and-up {
	    	padding: 25px;
	    }

	    .article-list-item-headline {
		    font-weight: 700;
		}

	    .article-list-item-meta {
		    width: 100%;
		}

		.article-list-item-content {
		    width: 100%;
		    font-size: 16px;
		}

		.tag-item {
		    margin-bottom: 0;
		}

		.topicwise-article-image {
		    border: 2px solid;
		}
	}

	//Read more button area
	.col-lg-5 {
	    max-width: 100% !important;
	    text-align: center;
	    flex: none;
	}
}


/*
 * Body Elements Color Schemes
 * Adjusting theme colors based on body class.
 */
body.template-blue,
// (template blue is currently the default color)
body.page-template-default{
	background: $secondary-blue;

	.header-logo.home{
		opacity: 1;
	}

	article.article-list-item {
		border-color: $primary-blue;

		.topicwise-article-image {
		    border-color: $primary-blue;
		}
	}

	.image-block::after{
	    background: $primary-blue;
    }
}

body.template-green{
	background: $secondary-green;

	.header-logo.about{
		opacity: 1;
	}

	article.article-list-item {
		border-color: $secondary-green;

		.topicwise-article-image {
		    border-color: $secondary-green;
		}
	}

	.image-block::after{
	    background: $secondary-green;
    }
}

body.template-yellow{
	background: $alternate-orange;

	.header-logo.case{
		opacity: 1;
	}

	article.article-list-item {
		border-color: $secondary-orange;

		.topicwise-article-image {
		    border-color: $secondary-orange;
		}
	}

	.image-block::after{
	    background: $secondary-orange;
    }
}

body.template-yellow-blue{
	background: $secondary-orange;

	.header-logo.tools{
		opacity: 1;
	}

	article.article-list-item {
		border-color: $secondary-orange;

		.topicwise-article-image {
		    border-color: $secondary-orange;
		}
	}

	.image-block::after{
	    background: $secondary-blue;
    }
}

body.template-orange{
	background: $secondary-orange;

	.header-logo.blog{
		opacity: 1;
	}

	article.article-list-item {
		border-color: $secondary-orange;

		.topicwise-article-image {
		    border-color: $secondary-orange;
		}
	}

	.image-block::after{
	    background: $secondary-orange;
    }
}

// Admin-only no color scheme pages
body.template-blank{
	background: #c1c1c1;

	.header-logo.home{
		opacity: 1;
	}
}

