/**
 * Styles specific to the page template
**/

body{
	background: #fff !important;
	font-family: $secondary-font;
}

/* Potentially temporary */
.page-header {
    display: none;
}
.page-template {
    margin: 0 0 100px;
}